/* eslint-disable */
.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 一行显示三个卡片 */
    grid-gap: 25px 24px;
    /* 卡片之间的间距 */
    flex-wrap: nowrap;
    /* 不允许换行 */
}



.card {
    background: url("../../../../assets/images/cards.png");
    border-radius: 8px;
    border: 1px solid linear-gradient(180deg, #EAEBFF 0%, #E8E9FF 100%);
    // margin: 0 25px 24px 0;
    box-shadow: 0px 4px 12px 0px rgba(102, 111, 197, 0.22);
    display: flex;
    justify-content: space-between;

}

.card:hover {
    color: #1890ff !important;
    border-image: linear-gradient(156deg, rgba(255, 255, 255, 1), rgba(213, 191, 254, 1)) 1 1;

}

.cardStatus {
    width: 72px;
    height: 20px;
    background: #FFF5EB;
    border-radius: 0px 8px 0px 8px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: #FF7C20;
    line-height: 20px;
}

.cardStatus1 {
    width: 72px;
    height: 20px;
    background: #FF9B37;
    border-radius: 0px 8px 0px 8px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 14px;
    color: white;
    line-height: 20px;
}

.cardContent {
    // width: 399px;
    // height: 140px;
    display: flex;
    width: 100%;
    position: relative;
    // flex-direction: column;
    /* 让内容垂直排列 */
    // justify-content: space-between;

    .left {
        width: 80px;
        height: 80px;
        margin: 30px 15px 30px 14px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        flex: 1;
        width: calc(100% - 80px);
        position: relative;

        .cardPicture {
            width: 100%;

            .eye {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 7px;
                right: 47px;
                cursor: pointer;
            }

            .maohao {
                width: 19px;
                height: 3px;
                color: #666666;
                position: absolute;
                top: 3px;
                right: 12px;
                cursor: pointer;

                .disabled-dropdown {
                    cursor: not-allowed;
                }
            }
        }

        .cardTitle {
            position: absolute;
            // left: 14px;
            top: 24px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 16px;
            color: #333333;
            line-height: 20px;
            text-align: left;
            font-style: normal;
        }

        .cardNote {
            width: 100%;
            height: 63px;
            padding-right: 16px;
            font-family: PingFangSC, PingFang SC;
            font-weight: 400;
            font-size: 14px;
            color: #666666;
            line-height: 21px;
            text-align: left;
            font-style: normal;
            position: absolute;
            // left: 14px;
            top: 54px;
            //溢出隐藏
            white-space: wrap;
            /* 文本换行 */
            overflow: hidden;
            text-overflow: ellipsis;
            /* 以省略号显示溢出的文本 */
        }
    }
}

.form {
    position: relative;

    .btn {
        line-height: 100%;
        background-color: #fff;
        border-color: #d9d9d9;
        position: absolute;
        right: 100px;
        top: 10px;
    }

    .btns {
        line-height: 100%;
        position: absolute;
        right: 0;
        top: 10px;
    }
}